{% extends "base.html"%}

{% load static%}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SignUp</title>
  <link rel="shortcut icon" type="" href="" />
  <link rel="stylesheet" href="{% static 'admin\css\styles.min.css'' %}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-5">
            <div class="card mb-0">
              <div class="card-body">
                <h1 class="text-dark">Register</h1>
                <!-- <p class="text-center">Your Social Campaigns</p> -->
                <form method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" required class="form-control" id="name" aria-describedby="textHelp">
                  </div>
                  <div class="mb-3">
                    <label for="username" class="form-label">Email Address</label>
                    <input type="email" required class="form-control" id="username" aria-describedby="emailHelp">
                  </div>
                  <code></code>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" required class="form-control" id="password">
                  </div>
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" required class="form-control" id="phone" aria-describedby="phoneHelp">
                  </div>
                  <div class="mb-3">
                    <label for="qualification" class="form-label">Qualification</label>
                    <input type="text" required class="form-control" id="qualification" aria-describedby="qualification">
                  </div>
                  <div class="mb-3">
                    <label for="interests" class="form-label">Interested Subjects</label>
                    <input type="text" required class="form-control" id="interests" aria-describedby="interestHelp">
                  </div>
                  <div class="mb-3">
                    <label for="improvements" class="form-label">Subjects to be improved</label>
                    <input type="text" required class="form-control" id="improvements" aria-describedby="improveHelp">
                  </div>
                  <button><a href="./index.html" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</a></button>
                  
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                    <a class="text-primary fw-bold ms-2" href="login">Sign In</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'admin/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>